#topNavigation{
    display: flex;
    flex-direction: row;
    float: right;
}

#topNavigation .topNavItem {
    min-width: 20%;
    padding-left: 20px;
    padding-right: 20px;
}

#mainLogo {
    max-height: 3em;
}

#layoutHeader {
    border-bottom: 1px solid black;
}

.questionsListItem {
    padding: 10px 0;
    border:1px solid #00000050
}

.questionsListItem:hover {
    background-color: #00000010
}